
.thank-you-page-close{
  
   
}
.thank-page-container{
    margin-top: 60px;
    font-family: "Roboto";
    height: 300px;
    width: 500px;
    background-color: aliceblue;
    box-shadow: 1px 5px 6px rgb(46, 45, 45);
    border-radius: 6px;
    margin-left: 400px;
    margin-right: 400px;
  
    
   

}



.thank-you-heading{
    padding-top: 50px;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: 800;
    text-align: center;
    text-align: center;
}
.close-icon{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 450px;
    cursor: pointer;
}