

.main-cart-container{
    background-color: #ffffff;
    box-shadow : 1px 2px 6px rgb(121, 117, 117);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
    margin-top: 20px;
    margin: 20px auto;
    width: 400PX;
    
    
    

}

.your-cart{
    text-decoration: underline;
    font-family: "Roboto";
    margin-bottom: 15px;
}
.order-content{
    color: #093309;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 800;
    margin-bottom: 10px;
  
}

.shopping-button{
    background-color: rgb(0, 128, 0);
    color: #ffffff;
    height: 32px;
    width: 190px;
    border-radius: 6px;
    border-width: 0px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 10px;
    
}


.cart-container{
    height: 150px;
    width: 100%;
    max-width: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
   
    
}
.plant-image{
    height: 80px;
    width: 80px;
    margin-right: 30px;
   
    
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.close-icon-cart{
    margin-left: 270px;
    margin-top: 20px;

    
}
.buy-button{
    margin-bottom: 20px;
    background-color: #093309;
    color: #ffffff;
    border-radius: 6px;
    height: 32px;
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;


}


.add-button-container{
    display: flex;
}



.delete-button{
   margin: 10px;
   background-color: transparent;
   border-width: 0px;
}


.delete-icon{
    font-size: 30px;
    margin-left: 10px;
    
    
   
}